

@mixin font-family-body($font-weight: true) {
  font-family: 'Noto Sans Mono', monospace;
  @if ($font-weight == true) {
    font-weight: 200;
  }
  strong {
    font-weight: 500;
  }
}

@mixin text-color-main {
  color: var(--theme-text-main, #000);
}
@mixin text-theme-color-1 {
  color: var(--theme-color-1, #2269e7);
}
