

$bg-main: var(--bg-main, #fff);
$bg-var1: var(--bg-var1, #f6f6f6);
$bg-var2: var(--bg-var2, #eee);
$bg-invert1: var(--bg-invert1, rgb(194, 123, 56));

$text-main: var(--text-main, #000);
$text-invert: var(--text-invert, #fff);
$link-color: var(--link-color, rgb(107, 122, 207));
$link-color-hover: var(--link-color-hover, rgba(122, 142, 255));

$stroke-color-faint: var(--stroke-color-faint, #e7e7e7);
$stroke-color-med: var(--stroke-color-med, #bbb);

$shadow-color: var(--shadow-color, rgba(0,0,0,0.1));
