@use '~/sass/agnostic/general.scss' as a;

$stroke-faint: 1px solid var(--stroke-color-faint, #e7e7e7);
$stroke-med: 1px solid var(--stroke-color-med, #bbb);


@mixin element-pad-x($side: null) {
  @if ($side != right) {
    padding-left: 0;
  }
  @if ($side != left) {
    padding-right: 0;
  }
}
@mixin element-pad-y($side: null) {
  @if ($side != bottom) {
    padding-top: 4px;
  }
  @if ($side != top) {
    padding-bottom: 4px;
  }
}
@mixin element-pad {
  @include element-pad-x;
  @include element-pad-y;
}
