@use '../agnostic/general.scss' as agnostic;

@mixin font-family-body($font-weight: true) {
  font-family: 'Noto Sans Mono', monospace;
  @if ($font-weight == true) {
    font-weight: 200;
  }
  strong {
    font-weight: 500;
  }
}

@mixin text-color-main {
  color: var(--text-main, #000);
}
@mixin text-theme-color-1 {
  color: var(--theme-color-1, rgb(194, 123, 56));
}

@mixin text-y-margin($m: 1em) {
  margin-top: $m;
  margin-bottom: $m;
  &:first-child {
    margin-top: -0.03em;
  }
  &:last-child {
    margin-bottom: 0;
  }
}


@mixin link-hover($start, $hover) {
    transition: all 0.2s linear;
    cursor: pointer;
    &, &:link, &:visited {
       color: $start;
    }
    &:hover, &:active {
        color: $hover;
    }
}

@mixin h1($margins: false, $color: false) {
  @include agnostic.font-size(2, 3);
  @include font-family-body;
  line-height: 1;
  // margin-left: -0.06em;
  @if ($color == true) {
    @include text-color-main;
    strong, b {
      @include text-theme-color-1;
    }
  }
  @if ($margins == true) {
    @include text-y-margin(0.9em);
  }
}
@mixin h2($margins: false, $color: true) {
  @include agnostic.font-size(1.7, 2.4);
  @include font-family-body;
  line-height: 1.11;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin(0.9em);
  }
}
@mixin h3($margins: false, $color: true) {
  @include agnostic.font-size(1.5, 1.9);
  @include font-family-body;
  line-height: 1.2;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin;
  }
}
@mixin h4($margins: false, $color: true) {
  @include agnostic.font-size(1.3, 1.5);
  @include font-family-body;
  line-height: 1.4;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin;
  }
}
@mixin h5($margins: false, $color: true) {
  @include agnostic.font-size(1.1, 1.3);
  @include font-family-body;
  line-height: 1.4;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin;
  }
}
@mixin h6($margins: false, $color: true) {
  @include agnostic.font-size(1, 1.1);
  @include font-family-body;
  line-height: 1.56;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin;
  }
}
@mixin p($margins: false, $color: true) {
  @include agnostic.font-size(0.9, 1);
  @include font-family-body;
  line-height: 1.75;
  @if ($color == true) {
    @include text-color-main;
  }
  @if ($margins == true) {
    @include text-y-margin;
  }
}

