@use '~/sass/agnostic/general.scss' as a;
@use '~/sass/project-base/general.scss' as *;
@use '~/sass/project-base/typography.scss' as *;
@use '~/sass/project-base/css-vars.scss' as *;

@mixin add-icon {
  opacity: 0.1;
  svg {
    width: 18px;
    path {
      stroke: $text-main;
    }
  }
}

.entries-accordion {
  .-entry {
    .entry-expandable {
      .-head {
        @include element-pad;
        @include a.space-between;
        user-select: none;
        .-left {
          display: inline-flex;
          gap: 10px;
          align-items: center;
          p {
            display: inline-block;
            margin: 0;
            &.-child-count {
              background-color: $bg-invert1;
              transition: background-color 0.2s linear;
              color: $text-invert;
              text-align: center;
              font-weight: $font-body-weight-bold;
              width: 26px;
              height: 26px;
              line-height: 26px;
              font-size: 12px;
              border-radius: 99px;
            }
          }
          .spinner {
            stroke: $bg-invert1;
            width: 20px;
          }
        }
        .-right {
          display: inline-flex;
          align-items: center;
          .-chev, .-add {
            cursor: pointer;
            transition: opacity 0.2s linear, transform 0.2s ease;
            svg {
              path {
                stroke: $text-main;
              }
            }
          }
          .-chev {
            padding: 2px 10px;
            opacity: 0.3;
            svg {
              width: 15px;
            }
          }
          .-add {
            @include add-icon;
            padding: 0 8px;
          }
          .-chev, .-add {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .-body {
        padding-left: 30px;
        position: relative;
        > .-line {
          pointer-events: none;
          position: absolute;
          left: 22px;
          bottom: 15px;
          width: 12px;
          top: 0;
        }
        > .-children {
          > .-entry {
            > .-insert-zone {
              position: relative;
              > .dnd-drop {
                position: absolute;
                top: -10px;
                height: 20px;
                left: 0;
                right: 0;
              }
            }
            > .dnd-drag {
              // outline: 1px solid pink;
            }
            .-add-at-bottom {
              @include element-pad;
              @include add-icon;
              cursor: pointer;
              transition: opacity 0.2s linear;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      &.-expanded {
        > .-head {
          .-left {
            p {
              &.-children {
                background-color: $stroke-color-med;
              }
            }
          }
          .-right {
            .-chev {
              transform: rotateX(180deg);
              svg path {
              }
            }
          }
        }
        > .-body {
          > .-line {
            border: $stroke-faint;
            border-right: none;
            border-top: none;
          }
        }
      }
    }
  }
}

