@use '~/sass/agnostic/general.scss' as a;
@use '~/sass/project-base/general.scss' as *;
@use '~/sass/project-base/typography.scss' as *;
@use '~/sass/project-base/css-vars.scss' as *;

@mixin add-icon {
  opacity: 0.1;
  svg {
    width: 18px;
    path {
      stroke: $text-main;
    }
  }
}

.entries-accordion {
  .-entry {
    .entry-expandable {
      .-head {
        @include element-pad;
        @include a.space-between;
        user-select: none;
        cursor: auto;
        .-left {
          display: inline-flex;
          gap: 10px;
          align-items: center;
          width: 100%;
          .-editing {
            width: 100%;
            margin: -4px -6px;
            p {
              width: 100%;
              border: 1px solid $stroke-color-med;
              font-weight: $font-body-weight-normal;
              padding: 4px 6px;
              &:focus {
                outline: none;
                border-color: $bg-invert1;
              }
            }
          }
          p {
            display: inline-block;
            margin: 0;
            &.-child-count {
              background-color: $bg-invert1;
              transition: background-color 0.2s linear;
              color: $text-invert;
              text-align: center;
              font-weight: $font-body-weight-bold;
              width: 23px;
              height: 23px;
              line-height: 22px;
              font-size: 12px;
              border-radius: 99px;
            }
          }
          .-spinner {
            display: inline-flex;
            align-items: center;
            .spinner {
              stroke: $bg-invert1;
              width: 20px;
              height: 20px;
            }
          }
        }
        .-right {
          display: inline-flex;
          align-items: center;
          .-chev, .-add {
            cursor: pointer;
            transition: opacity 0.2s linear, transform 0.2s ease;
            svg {
              path {
                stroke: $text-main;
              }
            }
          }
          .-chev {
            padding: 0 10px;
            opacity: 0.3;
            transform: translateY(-4px);
            svg {
              width: 14px;
            }
          }
          .-add {
            @include add-icon;
            padding: 0 8px;
          }
          .-chev, .-add {
            &:hover {
              opacity: 1;
            }
          }
        }
        html.drag-in-progress &:hover {
          .-left {
            p {
              color: $bg-invert1;
            }
          }
        }
      }
      .-body {
        padding-left: 30px;
        position: relative;
        > .-line {
          pointer-events: none;
          position: absolute;
          left: 4px;
          bottom: 15px;
          width: 12px;
          top: 0;
        }
      }
      &.-expanded {
        > .-head {
          .-left {
            p {
              &.-child-count {
                background-color: $stroke-color-med;
              }
            }
          }
          .-right {
            .-chev {
              transform: rotateX(180deg) translateY(2px);;
              svg path {
              }
            }
          }
        }
        > .-body {
          > .-line {
            border: $stroke-faint;
            border-right: none;
            border-top: none;
          }
        }
      }
      &.-is-editing {
        .-head {
          .-right {
            .-chev, .-add {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.accordion-container,
.entry-expandable .-body {
  > .entries-accordion {
    padding-bottom: 35px;
    padding-top: 15px;
    > .-entry {
      > .-insert-zone {
        position: relative;
        cursor: copy;
        > .dnd-drop {
          position: absolute;
          top: -6px;
          left: -8px;
          height: 12px;
          right: 60px;
          border-radius: 99px;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: $shadow-color;
          }
        }
      }
      &:last-child {
        > .-insert-zone:last-child {
          > .dnd-drop {
            height: 30px;
          }
        }
      }
      .dnd-drag {
        &.drag-source {
          opacity: 0.5;
          .entry-expandable {
            .-head {
              p {
                color: $text-main !important;
              }
            }
          }
        }
      }
    }
  }
}
.accordion-container {
  &.-is-editing {
    .entries-accordion {
      > .-entry {
        > .-insert-zone {
          pointer-events: none;
        }
      }
    }
  }
}
