@use '~/sass/agnostic/general.scss' as a;
@use '~/sass/project-base/general.scss' as *;
@use '~/sass/project-base/page.scss' as *;

body {
  background-color: var(--bg-main, #fff);
}

.center-frame {
  @include center-frame();
}

section.page-section {
  @include a.clamp(20, 30, 'gap');
  &.-accordions-panels {
    .center-frame {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 2100px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
    // @media (max-width: 1150px) {
    //   .center-frame {
    //     grid-template-columns: 1fr;
    //   }
    // }
  }
  &.-login-or-register {
    .center-frame {
      .login-modal {
        max-width: 500px;
      }
    }
  }
}

.accordion-panel {
  header {
    @include element-pad-x;
    @include a.flex;
    margin-bottom: 20px;
    h2 {
      display: inline-block;
    }
    .-close {
      display: inline-block;
      width: 20px;
      opacity: 0.2;
      cursor: pointer;
      transition: opacity 0.2s linear;
      svg {
        width: 20px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
