@use '~/sass/agnostic/general.scss' as a;
@use '~/sass/project-base/general.scss' as *;
@use '~/sass/project-base/page.scss' as *;

body {
  background-color: var(--bg-main, #fff);
}

.center-frame {
  @include center-frame();
}

section.page-section {
  @include a.clamp(20, 30, 'gap');
  display: grid;
  grid-template-columns: 1fr;
  max-width: 500px;
  header {
    @include element-pad-x;
  }
}
